* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: crimson;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cornflowerblue;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgoldenrod;
}